<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>280674464083-26uhn3e60f8t0b7m8m5e4il2bhaclud3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.280674464083-26uhn3e60f8t0b7m8m5e4il2bhaclud3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>280674464083-tk3allocktots2n9h30b7jh6uat80ts8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCMik3MMS8Gjuz6A2kFc6W1T0w0ynxR3bM</string>
	<key>GCM_SENDER_ID</key>
	<string>280674464083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.raya</string>
	<key>PROJECT_ID</key>
	<string>raya-9480c</string>
	<key>STORAGE_BUCKET</key>
	<string>raya-9480c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:280674464083:ios:cfbcb2a96fcbf6a17071a6</string>
</dict>
</plist>